@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  font-family: "ubuntu";
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}